@value boxDark,backDark,boxDark_2 from '../../../../common/colors.css';
@value defaultRadius from '../../../../common/variable.css';

.wrap {
    background-color: boxDark;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 10rem;
    overflow: hidden;
    gap: 1rem;
    min-height: 100vh;
}
.logoBox{
    background-color: boxDark_2;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuWrap{
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex:1 0 auto;
    align-items: center;
}

.menuWrap ul,
.menuWrap ul li{
    border:0;
    border-radius: defaultRadius;
}
.menuWrap div{
    cursor: pointer;
}

.setupWrap{
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
